<!-- Banner -->
<section id="banner">
        <div class="content">
            <header>
                    
                <p style="
                font-size: 1.2em;
                font-weight: 500;
                line-height: 1em;
            ">7th Annual <br>Women Conference</p>
            <img src="images/bme-logo-dark.png" alt="" />
                <p style="
                line-height: 1.5em;
                font-size: 1.5em;
                font-weight: 500;
            ">GREAT EXPECTATIONS</p><p style="
            line-height: 1.25em;
            font-size: .9em;
        "><br />Saturday, 31st March 2018<br/>Metro Toronto Convention

                    <br/>Centre, South Building
                    
                    </p>
            </header>
            <span class="image"><img src="images/sisters_.jpg" alt="" /></span>
        </div>
        <a href="#one0" class="goto-next scrolly">Next</a>
    </section>