<!-- Footer -->

<footer id="footer">
		<ul class="icons">
			{{ range $i,$e:= where .Site.Pages "Type" "mainhome" }}{{ if isset .Params "title"}}

			{{ if isset .Params "twitter" }}<li><a href="{{ .Params.twitter }}" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>{{ end }}
			{{ if isset .Params "facebook" }}<li><a href="{{ .Params.facebook }}" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>{{ end }}
			{{ if isset .Params "linkedin" }}<li><a href="{{ .Params.linkedin }}" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>{{ end }}
			{{ if isset .Params "instagram" }}<li><a href="{{ .Params.instagram }}" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>{{ end }}
			{{ if isset .Params "github" }}<li><a href="{{ .Params.github }}" class="icon alt fa-github"><span class="label">GitHub</span></a></li>{{ end }}
			{{ if isset .Params "email" }}<li><a href="{{ .Params.email }}" class="icon alt fa-envelope"><span class="label">Email</span></a></li>{{ end }}
			{{ end }}
			{{ end }}
		</ul>
		<ul class="copyright">
			<li>&copy; Being ME. All rights reserved.</li>
		</ul>
		
	</footer>