<!-- Header -->
<header id="header">
		<h1 id="logo"><a href="index.html">Being ME</a></h1>
		<nav id="nav">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/features">Features</a></li>
				<li><a href="/speakers">Presenters</a></li>
				<li><a href="/program">Program</a></li>
				<li><a href="/bus">BM Go Bus</a></li>
				<li><a href="/sponsors">Partners</a></li>
				<li><a href="/faq">FAQ</a></li>
				<li><a href="/gallery">Gallery</a></li>

					<!--li>
					<a href="#">Layouts</a>
					<ul>
						<li><a href="left-sidebar.html">Left Sidebar</a></li>
						<li><a href="right-sidebar.html">Right Sidebar</a></li>
						<li><a href="no-sidebar.html">No Sidebar</a></li>
						<li>
							<a href="#">Submenu</a>
							<ul>
								<li><a href="#">Option 1</a></li>
								<li><a href="#">Option 2</a></li>
								<li><a href="#">Option 3</a></li>
								<li><a href="#">Option 4</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="elements.html">Elements</a></li-->
					{{ range where .Site.Pages "Type" "mainhome" }}{{ if isset .Params "title"}}
					<li><a href="{{ .Params.ticket }}" target="_blank" class="button special">Get Tickets</a></li>
					{{ end }}
					{{ end }}
			</ul>
		</nav>
	</header>