<!-- Four -->
<section id="four" class="wrapper style1 special fade-up">
        <div class="container">
            
            <div class="box alt">
                <div class="row uniform">
                    {{ range $i,$e:= where .Data.Pages "Type" "speaker" }}
                    
                        <section class="4u{{ if eq (mod (add $i 1) 3) 0}}${{ end }} 6u{{ if eq (mod (add $i 1) 2) 0}}${{ end }}(medium) 12u$(xsmall)">
                                <img style="border-radius: 10px" height="250" src="{{ .Params.image }}">
                                <h3>{{ .Params.name }}</h3>
                            <p>{{ .Params.description }}</p>
                        </section>
                    {{ end }}
                    <!--section class="4u 6u(medium) 12u$(xsmall)">
                            <img src="images/hijabicon3.png">
                            <h3>SPEAKER 1</h3>
                        <p>She studied at the feet of her parents, who are both world renowned scholars of Islam. Her focus is the Qur’an and she works for one of the world’s premier Islamic institutes.</p>
                    </section>
                    
                    <section class="4u 6u$(medium) 12u$(xsmall)">
                        <img src="images/hijabicon3.png">
                        <h3>SPEAKER 2</h3>
                        <p>American born. Saudi raised. African descent. She developed an internationally recognized Quranic Arabic program.</p>
                    </section>
                    <section class="4u$ 6u(medium) 12u$(xsmall)">
                            <img src="images/hijabicon3.png">
                            <h3>SPEAKER 3</h3>
                        <p>New Yorker by Birth. Studied Islam at the feet of scholars in Middle East. Also, possess an MA in Psychology. Speaks with voice of authenticity grounded in the American tradition.</p>
                    </section>
                    <section class="4u 6u$(medium) 12u$(xsmall)">
                            <img src="images/hijabicon3.png">
                            <h3>SPEAKER 4</h3>
                        <p>A Being ME inspiration. An Educator and a University Chaplain. Community Leader & Activist - forefront in the struggle against Islamophobia.</p>
                    </section>
                    <section class="4u 6u(medium) 12u$(xsmall)">
                            <img src="images/hijabicon3.png">
                            <h3>SPEAKER 5</h3>
                        <p>Traveller through many lands. A Certified Parent Educator. Entrepreneur, Author, Speaker & Life Coach.</p>
                    </section>
                    <section class="4u$ 6u$(medium) 12u$(xsmall)">
                            <img src="images/hijabicon3.png">
                            <h3>SPEAKER 6</h3>
                        <p>Scholar of many letters. BCh MSc MD PhD. Marriage & Family Counsellor. Licensed Sexologist and the host of her own Television show.</p>
                    </section -->
                    
                </div>
            </div>
            <footer class="major">
                <p>In the coming weeks, we will conduct the “reveal” and also highlight our workshop and panel of presenters.
                    </p>
                <ul class="actions">
                    <li><a href="#" class="button special">Get Tickets</a></li>
                </ul>
            </footer>
        </div>
    </section>