<!-- Four -->
<section id="four" class="wrapper style1 special fade-up">
        <div class="container">
            
            <div class="box alt">
                <div class="row uniform">
                    {{ range $i,$e:= where .Site.Pages "Type" "speaker" }}{{ if isset .Params "name"}}

                    
                        <section class="4u{{ if eq (mod (add $i 1) 3) 0}}${{ end }} 6u{{ if eq (mod (add $i 1) 2) 0}}${{ end }}(medium) 12u$(xsmall)">
                                <img style="border-radius: 10px" height="250" src="{{ .Params.image }}">
                                <h3>{{ .Params.name }}</h3>
                            <p>{{ .Params.description }}</p>
                        </section>
                        {{ end }}
                        {{ end }}
                   
                    
                </div>
            </div>
            <footer class="major">
                <p>In the coming weeks, we will conduct the “reveal” and also highlight our workshop and panel of presenters.
                    </p>
                <ul class="actions">
                    <li><a href="#" class="button special">Get Tickets</a></li>
                </ul>
            </footer>
        </div>
    </section>