<!-- Modal -->
<div class="modal fade" id="trailer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-ku" role="document">
        <div class="modal-content" style="height:80v; align-items: flex-endx;">
                
                      <div id="ytrailer" class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GF4hHL-6qow?rel=0" allowfullscreen></iframe>
                          </div>
        
        
        </div>
    </div>
</div>